<%= form_for(@river) do |f| %>
  <% if @river.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@river.errors.count, "error") %> prohibited this river from being saved:</h2>

      <ul>
      <% @river.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :intigi_recommendations_url %><br />
    <%= f.text_field :intigi_recommendations_url %>
  </div>
  <div class="field">
    <%= f.label "Intigi Population Threshold (0-100)" %><br />
    <%= f.text_field :intigi_popularity_threshold %>
  </div>
  <div class="field">
    <%= f.label "Topsy Popularity Threshold (# tweets)" %><br />
    <%= f.text_field :topsy_popularity_threshold %>
  </div>
  <div class="field">
    <%= f.label "Feature on homepage?" %><br />
    <%= f.check_box :is_featured %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
